<!DOCTYPE html>
<html>
<head>
	<title>Reddit Post Recreation</title>
	<script src="https://use.fontawesome.com/aa5963477d.js"></script>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body class="container">

	<h2> Reddit Post Recreation</h2>
	<div id="main">

		
			<ul class="list-group">
				<li 
				is="redditpost" 
				v-for="post in posts"  
				v-bind:comment="post.comment" 
				v-bind:id="post.id" 
				v-bind:votes="post.votes">
					
				</li>

			</ul>


		<input type="text" id="commentInput" v-model="newComment" v-on:keyup.enter="addPost" placeholder="post something...">
		<button type="submit" class="btn btn-primary btn-sm" v-on:click="addPost">post</button>



	</div>

<template id="post-template">
		<li> 
			<i class="fa fa-chevron-up" aria-hidden="true"></i>
    		<span class="label label-primary">{{ votes }}</span>
    		<i class="fa fa-chevron-down" aria-hidden="true"></i>
    		<a>{{ comment }}</a>
    	</li>
</template>







	<script type="text/javascript" src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="main.js"></script>
</body>
</html>